<div class="container-md">
    <div class="row" style="margin-top: 40px;">
        <div class="col-md-7">
            <h3>About Us</h3>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <img src="../../assets/images/aboutus.jpg" class="img-fluid" style="height: 70vh; width:100%;" />
        </div>
        <div class="col-md-4 ">
            <p class="float-right">
            We are a pizza shop based in mumbai. Having more than 10 years of experience serving
            delicious pizza making your pizza night special. </p>
            <br/>
            <p class="float-right" style="margin-top:20px">
            Around here, we don't make due with anything short of food we're glad to serve. 
            What's more, we don't simply check in. Not when we can likewise turn into our 
            best, make companions, and have a great time while we're busy. We're the 
            pizza organization that carries on with life unpacked.</p>
            <br/>

        </div>
    </div>
</div>