<header>
    
    <ul class="nav  menu">
        <li class="nav-item"><a class="nav-link active text-white" routerLink="/welcome">Home</a></li>
        <li class="nav-item"><a class="nav-link active text-white" routerLink="/menu">Menu</a></li>
        <li class="nav-item"><a class="nav-link active text-white" routerLink="/todaysspecial">Today's Special</a></li>
        <li class="nav-item"><a class="nav-link active text-white" routerLink="/aboutUs">About us</a></li>
        <li class="nav-item"><a class="nav-link active text-white" routerLink="/cart">Cart</a></li>
    </ul>
</header>
<body class="homepg">
    <router-outlet></router-outlet>
</body>
<footer class="navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">© 2021 - Site Built By Ms. Jyoti Pandey</p>
    </div>
</footer>